<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>WiFi</title>

    <link rel="stylesheet" href="/style.css" />   
  </head>
  <body>
    <div class="topnav">
      <a href="training.hbs">Training</a>
      <a href="signup0.hbs">SignUp0</a>
      <a href="signup1.hbs">SignUp1</a>
      <a href="signup2.hbs">SignUp2</a>
      <a href="wifi.hbs">WiFi</a>
    </div>
    <h1 class="body">
      WiFi
    </h1>
    <p class="body">
      Page for WiFi Scenario
    </p>
        
  </body>
</html>
