html {
    box-sizing: border-box;
    font-size: 18px;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0rem;
    font-family: sans-serif;
    line-height: 1.5;
  
    .topnav {
      background-color: #333333;
      overflow: hidden;
    }
  
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      text-decoration: none;
      padding: 14px 18px;
      font-size: 17px;
    }
    
    .topnav a:hover {
    background-color: #cccccc;
    color: black;
  }
    
    .body {
      padding: 1rem;
    }
  }
  